[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
model = "*"
keras = "*"
numpy = "==1.19.1"
tensorflow = "*"
hardware = "*"
tensorflow-model-optimization = "*"
theanolm = "*"
pydot = "*"
bitarray = "==1.5.3"
io = "*"
priorityqueue = "==1.3.0"
bitstring = "*"

[requires]
python_version = "3.7"
