[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
model = "*"
keras = "*"
numpy = "*"
tensorflow = "*"
hardware = "*"
tensorflow-model-optimization = "*"
theanolm = "*"

[requires]
python_version = "3.7"
